--extra-index-url https://testpypi.python.org/pypi
informatica-airflow-plugin>=0.5.8
#Blueprints==2.3.0.2
cryptography>=3.2
devops-informatica-tools>=1.2.22
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.18.0
pycryptodome==3.9.0
#repositorytools==4.2.5
apache-airflow==2.3.4
